#rp-sidebar, #rp-content {
	height: 100vh;
	overflow-y: auto;
}

#rp-content {
	width: calc(100vw - 250px);
}

#rp-sidebar {
	width: 250px;
}

.bd-example {
	position: relative;
	padding: 1rem;
	margin: 1rem -15px 0;
	border: solid #d9d9d9;
	border-width: .2rem;
}

@media (max-width: 768px) {
	#rp-sidebar {
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		width: 100vw;
		height: 50px;
		overflow-x: auto;
		z-index: 1;
	}

	#rp-sidebar .sidebar-title {
		display: none;
	}

	#rp-sidebar .sidebar-list li {
		display: inline-block;
	}

	#rp-content {
		margin-top: 60px;
		width: 100vw;
	}
}